@model TesteProgramacao.Models.Editora

@{
    ViewData["Title"] = "AtualizarEditora";
}

<h2>Atualizar Informações</h2>

<h4>Editora</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AtualizarEditora">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="editoraId" />
            <div class="form-group">
                <label asp-for="CNPJ" class="control-label"></label>
                <input asp-for="CNPJ" class="form-control" />
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeEditora" class="control-label"></label>
                <input asp-for="NomeEditora" class="form-control" />
                <span asp-validation-for="NomeEditora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Alterar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
